<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="stablediffusionGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <stablediffusionGUI.Properties.Settings>
            <setting name="textheight" serializeAs="String">
                <value />
            </setting>
            <setting name="textwidth" serializeAs="String">
                <value />
            </setting>
            <setting name="textseed" serializeAs="String">
                <value />
            </setting>
            <setting name="textiter" serializeAs="String">
                <value />
            </setting>
            <setting name="textsample" serializeAs="String">
                <value />
            </setting>
            <setting name="textddimsteps" serializeAs="String">
                <value />
            </setting>
            <setting name="textdescription" serializeAs="String">
                <value />
            </setting>
            <setting name="textactivatepath" serializeAs="String">
                <value />
            </setting>
            <setting name="textdiffusionpath" serializeAs="String">
                <value />
            </setting>
            <setting name="textwhich" serializeAs="String">
                <value />
            </setting>
        </stablediffusionGUI.Properties.Settings>
    </userSettings>
</configuration>